.soart-button{
    cursor: pointer;
    color: #F4E662;
    width: 274px;
    height: 34px;
    display: flex;
    line-height: 34px;
    border: solid 1px #F4E662;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20px;
}
.soart-button p{
    width: 50%;
    text-align: center;
}
#price-order{
    border-right: #F4E662 solid 0.5px;
}
#distance-order{
    border-left: #F4E662 solid 0.5px;
}
.soart-button-active {
    color: white;
    background-color: #F4E662;
}
.condition-container{
    margin-top: 20px;
    font-size: 10px;
    margin-bottom: 8px;
}
.main-condition{
    font-size: 20px;
}
.sub-condition{
    margin-top: auto;
    margin-bottom: auto;
}
.result-content{
    border-top: #F4E662 solid 1px;
    display: flex;
    justify-content: space-between;
    padding: 20px 35px 20px 0;
}
.result-left img{
    height: 60px;
    width: 117px;
}
.result-left p{
    font-size: 13px;
    width: 117px;
}
.price-display{
    font-size: 34px;
    display: flex;
    justify-content: space-between;
}
.result-right{
    width: 45%;
}
.price-display img{
    height: 33px;
    cursor: pointer;
}
.each-info{
    display: flex;
}
.other-info-above{
    display: flex;
    justify-content: space-between;
}
.each-info img{
    height: 20px;
}
.each-info p{
    margin-left: 8px;
    font-size: 15px;
}
.other-info-below{
    display: flex;
    margin-top: 8px;
}
.other-info-below img{
    height: 17px;
    margin-left: 2px;
}
.other-info-below a{
    margin-left: 8px;
    font-size: 15px;
    color: #4285F4;
    cursor: pointer;
}
#back{
    border-right: #DBDBDB2 solid 0.5px;
}
#next{
    border-left: #DBDBDB solid 0.5px;
}
.is-hidden{
    display: none;
}
.more-text{
    cursor: pointer;
    text-align: center;
    color: #4285F4;
    margin-top: 20px;
}
#closeMap{
    z-index: 999;
}
.leaflet-popup-content-wrapper{
    padding: 0 !important;
    border-radius: 5px !important;
}
.leaflet-popup-content {
    margin: 0 !important;
    padding: 8px;
    border:#F4E662 solid 2px ;
    border-radius: 5px;
    text-align: center;
}
.leaflet-popup-content p{
    font-size: 25px;
    font-weight: bold;
}
.each-info a{
    background-color: red;
}
.leaflet-control-zoom-in {
    display: none !important;
}
.leaflet-control-zoom-out {
    display: none !important;
}
.result-info-icons{
    margin-top: 10px;
}
.result-info-icons img{
    height: 18px;
}
.supportIcon{
    height: 15px;
    width: 15px;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
}
.sub-condition-container{
    display: flex;
    justify-content: space-between;
    padding-right: 35px;
    position: relative;
}
.iconDescription{
    position: absolute;
    right: 58px;
    font-size: 13px;
    padding: 20px;
    background-color: white;
    border: #4285F4 solid 1px;
    border-radius: 5px;
}
.iconDescription img{
    height: 18px;
    margin-right: 8px;
}
.iconDescription span{
    opacity: 0.6;
}