<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
    <meta name="google-site-verification" content="LA4I5Au_Mqvw2-Caqws8YLq15l011tdp67dsXb3OVJY" />
    <meta name="google-site-verification" content="YnN-s0qsnGTXcYTEdY1yvfp4WDnVRrL3wgubhqRsv8o" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
